<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Semináře</h2>
                    <h3 class="section-subheading text-muted">Semináře jsou ve formě webinářů. Možnost je i individuální konzultace podle vašich požadavků.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Algoritmy na sítích a platformách</h4>
                    <p class="text-muted">Tápete, proč se vám na sítích zobrazuje obsah, který se zobrazuje, filmy na Netflixu, příspěvky na Twitteru od lidí, které nesledujete? Povíme si nejen o algoritmech a jak fungují, ale proč fungují právě na nás.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Jak se šíří informace</h4>
                    <p class="text-muted">Informační toky mají svá pravidla a o výzkum opřené fenomény, které je doprovází. Ať už jde o virální obsah nebo konspirační teorie, řekneme si spolu, proč mají některé informace větší šanci na sdílení než jiné.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI v online a herním světě</h4>
                    <p class="text-muted">Existuje spousta fenoménů, skrz které vnímáme stroje jako živé a svébytně fungující. Jak se to stane? V semináři se dozvíte víc, a průvodci k pochopení, co se děje, nám budou kromě Wall-eho i postavy z videoher.</p>
                </div>
                 <h3 class="section-subheading text-muted"> Obsah seminářů opírám jen o své praktické zkušenosti, ale i o nejnovější výzkumy a poznatky z vědeckých studií.</h3>
            </div>
        </div>
    </section>
